html,

body {
	background-color:black;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-color: black;
    border-style: solid;
    border-radius: 25px;
    border-color: red;
    padding: 12px;
    padding-right: 12px;
    margin: auto;
	max-width: 900px;
}

.background2 {
    background-color: red;
    border-style: solid;
    border-radius: 25px;
    border-color: red;
    padding: 12px;
    padding-right: 12px;
    margin: auto;
	max-width: 900px;
}

.tilt {
	width: 200px;
}

.twist {
	width: 200px;
}

.scale {
	width: 200px;
}

.translate {
	width: 200px;
}

header a{
	color: red;
}

a {
	text-decoration: none;
	padding: 12px;
	color: white;
	margin: auto;
	font-size: 20px;
}

a:hover{
	color: red;
}

header{
	color: red;
	text-align: center;
}

b {
	text-decoration: none;
	padding: 12px;
	color: white;
	margin: auto;
	font-size: 20px
}

.tilt:hover {
    transform: rotate(15deg);
}

.twist:hover {
    transform: skew(30deg, 30deg);
}

.scale:hover {
    transform: scale(2);
}

.translate:hover {
    transform: translate(5em);
}
